:root {
   --background-color: #0a0518;
   --color-lightWhite: #e6e6e6;
   --color-black: #191622;;
   --color-white: #bfbfbf;
   --color-purple: #483c67;
   --color-purpleLight: #816cb3;
   --color-purpleUltraLight: #a67be2;
   --color-green: #42e26a;
   --color-lightGreen: #82db91;
   --color-magenta: #e961ae;
   --color-lightMagenta: #ff92d0;
 }

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', monospace;
}

html {
   scroll-behavior: smooth;
}

body {
   width: 100%;
   height: 100vh;
   background-color: #000000;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%230a0518'/%3E%3Cstop offset='1' stop-color='%2313091f'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%230f071c'/%3E%3Cstop offset='1' stop-color='%2313091f'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform=''%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform=''%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
   background-attachment: fixed;
   background-size: cover;
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

#particles-js {
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: -1;
 }
 



.container {
   width: 100%;
   height: 100%;
   position: relative;
}


header {
   width: 100%;
   height: 10vh;
   margin-bottom: 30px;
}

nav {
   width: 100%;
}

.navbar {
   padding: 50px 25px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.navbar li {
   margin-right: 25px;
   margin-bottom: 10px;
}

.navbar li a {
   color: var(--color-lightWhite);
   font-size: 1.3rem;
   letter-spacing: 1px;
   transition: opacity 250ms ease-in-out;
}

.navbar li a:hover {
   opacity: 0.7;
   transition: opacity 250ms ease-in-out;
}

.title {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   margin-top: -70px;
   flex-wrap: wrap;
}


.title h1 {
   color: var(--color-lightWhite);
   font-weight: 500;
   font-size: 3.5rem;
   text-align: center;
   margin-bottom: 50px;
   overflow: hidden;
   white-space: nowrap;
   animation: typing 3.5s steps(40, end);
}

.title h1 span {
   color: var(--color-green);
   font-size: 2.5rem;

}



.btn-title {
   width: 200px;
   height: 50px;
   margin-top: 70px;
   background-color: var(--color-magenta);
   border: none;
   border-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 250ms ease-in-out;
}

.btn-title a {
   width: 100%;
   color: var(--color-lightWhite);
   font-size: 1.7rem;
   font-family: 'Press Start 2P', cursive;   
}

.btn-title:hover {
   background-color: var(--color-lightMagenta);
   box-shadow: 0 0 40px var(--color-lightMagenta);
   border: 3px solid var(--color-lightMagenta);
   transition: 250ms ease-in-out;
}


.content {
   max-width: 1500px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
   padding: 25px 75px;
   margin-bottom: 90px;
}

.content h2 {
   font-size: 3rem;
   color: var(--color-purpleLight);
   margin-bottom: 25px;
   text-align: center;
}

.content h2 span {
   color: var(--color-lightGreen);
}

.content h3 {
   color: var(--color-lightGreen);
   font-size: 1.7rem;
   letter-spacing: 2px;
   padding: 20px 0;
   margin-right: auto;
   text-align: center;
}



.content p {
   font-size: 1.22rem;
   color: var(--color-lightWhite);
   line-height: 40px;
   
}

.content p span {
   color: var(--color-lightGreen);
}

.center {
   margin: 0 auto;
   text-align: center;
}

.criador img {
   width: 240px;
   height: 240px;
   border-radius: 50%;
   margin-bottom: 40px;
   border: 2px solid var(--color-lightGreen);
}

.content h4 {
   font-size: 1.5rem;
   color: var(--color-green);
   margin-right: auto;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-top: 40px;
   margin-bottom: 20px;
}

.content h5 {
   font-size: 1.2rem;
   color: var(--color-magenta);
   margin-right: auto;
   text-transform: uppercase;
   margin-top: 40px;
   margin-bottom: 20px;
   font-weight: 300;
   text-shadow: 0 0 20px var(--color-lightMagenta);
}

.framework-list {
   margin-right: auto;
}

.framework-list a {
   
   font-size: 1.2rem;
   color: var(--color-purpleUltraLight);
   transition: opacity 150ms ease;
   
}

.framework-list a:hover {
   opacity: .7;
   transition: opacity 150ms ease;
}

.framework-list li {
   color: var(--color-white);
   margin: 20px 30px;
   list-style:disc;
   font-style: italic;
}

.container-conteudo {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.container-conteudo iframe {
   margin: 15px;
   flex-basis: 350px;
   flex-grow: 1;
   transform: scale(0.95);
   transition: transform 150ms ease-in-out;
}

.container-conteudo iframe:hover {
   transform: scale(1);
   transition: transform 150ms ease-in-out;
}

.footer {
   display: flex;
   align-items: center;
   width: 70%;
   background-color: rgba(25, 15, 44, 0.63);
   border-radius: 10px;
}

.footer p {
   font-size: 1.22rem;
   color: var(--color-lightWhite);
   text-align: center;
}

.footer a {
   text-decoration: none;
   color: var(--color-magenta);
   font-size: 2.5rem;
   margin-left: 20px;  
   transition: transform 200ms ease; 
}

.footer i:hover {
   transform: scale(1.1);
   transition: transform 200ms ease;
   opacity: .6;
}



@keyframes typing {
   from {
     width: 0;
   }
   to {
     width: 100%;
   }
 }


 @media screen and (max-width: 720px) {
    .title h1,
    .title h1 span {
       font-size: 2.4rem;
    }
 }

 @media screen and (max-width: 520px) {
   .title h1,
   .title h1 span {
      font-size: 2rem;
   }
}

@media screen and (max-width: 390px) {
   .title h1,
   .title h1 span {
      font-size: 1.5rem;
   }
}

@media screen and (max-width: 300px) {
   .title h1,
   .title h1 span {
      font-size: 1.2rem;
   }
}